/* Combinator selectors */

/* 1) general sibling selector */

/* whatever p tags are present at the same level
and written below of h1 tags are targeted. */
h1~p
{
    color: red;
}


/* 2) adjacent sibling selector ( + ) */
/* target immediate right elements and they should be in same level */
h2 + p
{
    color: blue;
}

/* 3) child selector (>) */
/* direct child only at first level child */
div > p
{
    color: aqua;
}